<%- include("/Users/macbookpro/Desktop/portfolio/partials/header.ejs"); -%>
  <h1>marhbe</h1>
  <p> <%= homeContent %> </p>
<%- include("/Users/macbookpro/Desktop/portfolio/partials/footer.ejs"); -%>
