<%- include("/Users/macbookpro/Desktop/portfolio/partials/header.ejs"); -%>

  <div class="flex-container">
    <div class="flex-item content-text">
      <h1> <%= homeContent %> &#128075; </h1>
      <h1>A Software Engineer.</h1>
      <br>
      <h2>Check out my work<span class="cursor">_</span></h2>
      <br>
      <a href="#" class="button btn-full">
        <i class="fas fa-code"></i>
        Contact me.
      </a>
    </div>
    <div class="flex-item">
      <h1>HEY this is a test content to see if flex works fine.</h1>
      <a href="#" class="button btn-0">
        <i class="fas fa-code"></i>
        my projects.
      </a>
      <a href="#" class="button btn-1">
        <i class="fas fa-code"></i>
        Code Challenges.
      </a>
      <a href="#" class="button btn-2">
        <i class="fas fa-code"></i>
        Test.
      </a>
      <a href="#" class="button btn-3">
        <i class="fas fa-code"></i>
        Test.
      </a>
      <a href="#" class="button btn-4">
        <i class="fas fa-code"></i>
        Scripting
      </a>
    </div>
  </div>
<%- include("/Users/macbookpro/Desktop/portfolio/partials/footer.ejs"); -%>
