<%- include("/Users/macbookpro/Desktop/portfolio/partials/header.ejs"); -%>

  <div class="content-text flex-container">
    <div class="flex-item">
      <h1> <%= homeContent %> </h1>
      <h2>Check out my work<span class="cursor">_</span></h2>
    </div>
    <div class="flex-item">
      <h1>HEY this is a test content to see whether its working as flex.</h1>
    </div>
  </div>
<%- include("/Users/macbookpro/Desktop/portfolio/partials/footer.ejs"); -%>
