html{
  background-color: #1B1B1B;
  font-family: 'Source Code Pro', monospace;
}
h1{
  color: #fff;
}

h2{
  color: #fff;
}
a{
  text-decoration: none;
}
.hidden{
  display: none;
}
.cursor{
  font-weight: 700;
  animation: 1s blink step-end infinite;

}

@keyframes blink {
  from,
   to {
      color: transparent;
  }
  50%{
    color: var(--text-color);
  }
}
.terminal-container{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  margin-bottom: 20%;

}
.terminal-text{
  font-size: 1.5rem;
  padding-top: 20px;
}
.content-text{

  width: 1300px;
}
.flex-container{
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin-top: 10pc;
  align-items: stretch;
}

.flex-item{
  margin: 40px 5%;
}

.button{
  position: absolute;
  width: 251px;
  height: 60px;
  left: 722px;
  top: 136px;
  border: 3px solid #F4C430;
  box-sizing: border-box;
  border-radius: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #F4C430;
  padding-top: 12px;
}
.button:hover{
  border: 3px solid #F49A30;
  color: #F49A30;
}
.btn-0{
  left:50%;
}
.btn-1{
  top : 50px;
  left: 70%;
}
.btn-2{
  top: 450px;
  left: 50%;
}
.btn-3{
  top: 300px;
  left:45%;
}
.btn-4{
  top:550px;
  left: 70%;
}
.btn-full{
  background: #F4C430;
  color: #1B1B1B;
  position: static;
}
